1.запрос без фамилии должен считаться не валидным.
2.запрос без даты начала поездки (agreementDateFrom) должен считаться не валидным.
3.запрос без даты окончания поездки (agreementDateTo) должен считаться не валидным.
4.дата окончания поездки (agreementDateTo) должна быть после даты начала (agreementDateFrom).
5.расчёт стоимости полиса страхования не должен основываться на датах из прошлого.
Допустимы только даты из будущего.